body {
      overflow: hidden;
      background-color: #323232;
}

#search-container {
    width: 100%;
}

#searchbar {
    font-family: monospace;
    font-size: 4vw;
    border: none;
    background-color: #323232;
    color: #ffffff;
    width: 100%;
}

#searchbar:focus {
    outline: none;
}

.ui-autocomplete {
    font-family: monospace;
    background: #464646;
    color: #ffffff;
}

.ui-menu-item {
	font-size: 2vw;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #547b95 !important;
    border: inherit !important;
}